<nlib-nivite (invite)="loadInviteData($event)" (login)="loadUserData($event)" (guest)="loadGuestData($event)">
</nlib-nivite>

<div class="invite-wrap" [ngClass]="loading?'fadeout':'fadein'">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center start">
      <mat-card class="title-card no-border">
        <mat-card-header>
          <mat-card-title>
            <h1>{{invite?.title}}</h1>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="main-card no-border">
        <mat-card-header *ngIf="photo?.title">
          <mat-card-title>{{photo?.title}}</mat-card-title>
          <mat-card-subtitle>{{photo?.description}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="photo?.url">
      </mat-card>
      <mat-card class="msg-card no-border">
        <mat-card-header>
          <mat-card-title>{{invite?.shortMsg}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span markdown [data]="invite?.longMsg"> {{invite?.longMsg}}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <span class="spaced">&nbsp;</span>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card class="venue-card no-border">
      <mat-card-header>
        <mat-card-title>
          <h1>Venue</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>{{invite?.addrText}}</mat-card-content>
    </mat-card>
    <mat-card class="time-start-card no-border">
      <mat-card-header>
        <mat-card-title>
          <h1>Starts</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>{{invite?.timeFrom}}</mat-card-content>
    </mat-card>
    <mat-card class="time-end-card no-border">
      <mat-card-header>
        <mat-card-title>
          <h1>Ends</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>{{invite?.timeTo}}</mat-card-content>
    </mat-card>
  </div>
</div>